<!-- Main content -->
<section class="max-w-full">
  {{ with .Site.Title }}
    <header class="flex justify-center">
      <h1
        class="mb-6 hyphens-auto text-center font-mono text-5xl font-bold tracking-tight md:text-6xl lg:mb-16 lg:text-8xl"
      >
        {{ . | emojify }}
      </h1>
    </header>
  {{ end }}
  <!-- <img src="/img/author.jpg" class="m-auto max-w-full"></img> -->

  <section class="prose max-w-full">
    <div class="lead flex justify-center text-center text-xl lg:text-2xl">
      <div class="max-w-3xl">
        {{ .Site.Params.Description | emojify }}
      </div>
    </div>
    <div class="mb-8 flex justify-center">{{ .Content | emojify }}</div>
  </section>
</section>

<section class="mx-auto max-w-[128rem]">
  {{ partial "gallery.html" . }}
</section>

<section>
  {{ partial "recent-posts.html" . }}
</section>

<section class="not-prose">
  {{ partial "events-upcoming.html" . }}
</section>

<section class="not-prose">
  {{ partial "recent-resources.html" . }}
</section>
