# From upstream congo <--UPSTREAM
/assets/css/compiled/
#/assets/lib/

/layouts/_default/_markup/*.html
/layouts/_partials/picture.html
/layouts/_shortcodes/figure.html
/layouts/_shortcodes/screenshot.html

#/exampleSite/content/docs/version-2/lighthouse.html
# UPSTREAM-->

# yaml formats :shrug:
/layouts/_default/events.yaml

# TODO: See if we can remove these ignores
/layouts/_partials/resource-link.html

# Ignore any content because its possible it comes from the CMS
/content/
