{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "liquid-html",
        "singleQuote": false
      }
    }
  ]
}
