<header class="header dropdown__header" role="banner">
  <div>
    <a href="{% tl index %}">
      <h1 class="logo">{{ site.title }}</h1>
      <p class="work">Tech <span class="link">Werkers</span> NL</p>
    </a>
  </div>
  <ul class="supporting-links dropdown__categories">
    <li class="dropdown__category">
      <div id="navBtn">menu</div>
      <ul id="nav" class="dropdown__menu hide">
        {% for link in site.header_themes %}
          <li>
            <a href="{% tl link.namespace %}">{{ site.translations[site.lang].pages[link.text] }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="{% tl join %}">{% t connect.subscribe %}</a>
    </li>
  </ul>
</header>
