{{ with site.Language.Params.Author.links }}
  <div class="flex flex-wrap text-neutral-400">
    {{ range $link := . }}
      {{- $name := $link.name -}}
      {{- $url := $link.url -}}
      {{- $target := $link.target | default "_blank" -}}
      {{- $icon := $link.icon | default $name -}}
      <a
        class="px-1 transition-transform hover:scale-125 hover:text-primary-600"
        style="will-change:transform;"
        href="{{ $url | safeURL }}"
        target="{{ $target }}"
        aria-label="{{ $name | title }}"
        rel="me noopener noreferrer"
        >{{ partial "icon.html" $icon }}</a
      >
    {{ end }}
  </div>
{{ end }}
