<div class="bg-white mx-auto max-w-7xl pb-4 sm:pb-6">
  <div class="mb-10 mb-8 px-4 sm:mb-10 sm:px-0">
    <div class="mx-auto mb-8 max-w-2xl sm:mb-10 lg:mx-0">
      <h2 class="mb-8 mt-16 text-4xl font-extrabold">{{ i18n "events-upcoming" }}</h2>
      <p class="text-gray-600 mt-2 text-lg/8">{{ i18n "events-description" }}</p>
    </div>

      <div>
        <script src="https://events.techwerkers.nl/gancio-events.es.js"></script>
        <gancio-events baseurl="https://events.techwerkers.nl" show_recurrent="true" maxlength=5 sidebar="false" theme="light"></gancio-events>
      </div>

  </div>
  <div class="mx-4 lg:mx-0">
    <a
      class="text-gray-500 mt-6 decoration-primary-600 hover:text-primary-600 hover:underline hover:underline-offset-2"
      href="https://events.techwerkers.nl"
      >{{ i18n "show-all" }} {{ i18n "events" }} →</a
    >
  </div>
</div>
