<form
  id="join"
  name="subscribe"
  class="ml-0 mt-4 max-w-2xl rounded-lg bg-red-600"
  data-netlify="true"
  action="{{ relLangURL "join/success" }}"
>
  <h3 class="mt-10 text-2xl font-bold text-gray-900">{{ i18n "join-form" }}</h3>
  <p class="my-6 text-gray-600">{{ i18n "join-description" }}</p>
  <div class="mb-5">
    <label for="name" class="mb-2 block font-bold text-gray-900">{{ i18n "name" }}</label>
    <input
      type="text"
      id="name"
      name="name"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="Youssra Jansen"
      required
    />
  </div>
  <div class="mb-5">
    <label for="email" class="mb-2 block font-bold text-gray-900">{{ i18n "email" }}</label>
    <input
      type="email"
      id="email"
      name="email"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="hey@email.nl"
      required
    />
  </div>
  <div class="mb-5">
    <label for="organization" class="mb-2 block font-bold text-gray-900"
      >{{ i18n "employer" }}</label
    >
    <input
      type="text"
      id="organization"
      name="company"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="{{ i18n "workplace" }}"
      required
    />
  </div>
  <div class="mb-5">
    <p class="mb-2 block font-bold text-grey-900 pb-2">{{ i18n "how-to-find-you" }}</p>
    <label for="social-link-1" class="mb-2 block text-gray-900"
      >{{ i18n "social-link" }} #1</label
    >
    <input
      type="url"
      id="social-link-1"
      name="social_media_1"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="{{ i18n "social-examples" }}"
      required
    />
  </div>
  <div class="mb-5">
    <label for="social-link-2" class="mb-2 block text-gray-900"
      >{{ i18n "social-link" }} #2</label
    >
    <input
      type="url"
      id="social-link-2"
      name="social_media_2"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="{{ i18n "social-examples" }}"
    />
  </div>
  <div class="mb-5">
    <label for="your-goals" class="mb-2 block font-bold text-gray-900"
      >{{ i18n "your-goals" }}</label
    >
    <p class="pb-2">{{ i18n "like-to-achieve" }}</p>
    <input
      type="text"
      id="your-goals"
      name="how_did_hear"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="{{ i18n "your-goals" }}"
    />
  </div>
  <button
    type="submit"
    role="button"
    class="not-prose w-full rounded-lg bg-blue-700 py-2.5 text-center font-mono font-bold uppercase text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 sm:w-auto"
  >
    {{ i18n "submit" }}
  </button>
</form>
