<div class="bg-white mx-auto max-w-7xl pb-20 sm:pb-24">
  <div class="mb-10">
    <div class="mx-auto mb-8 max-w-2xl sm:mb-10 lg:mx-0">
      <h2 class="mb-8 mt-16 text-4xl font-extrabold">{{ i18n "featured" }}</h2>
      <p class="text-gray-600 mt-2 text-lg/8">{{ i18n "resources-description" }}</p>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-4 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {{ $recentResource := first 3 (where .Site.RegularPages "Section" "resources") }}
      {{ range $recentResource }}
        {{ partial "resource-link.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="mx-4 lg:mx-0">
    <a
      class="text-gray-500 mt-6 decoration-primary-600 hover:text-primary-600 hover:underline hover:underline-offset-2"
      href="{{ "resources" | relLangURL }}"
      >{{ i18n "show-resources" }} →</a
    >
  </div>
</div>
