{{/* Determine the correct context and scope */}}
{{/* This allows for different logic depending on where the partial is called */}}
{{ $context := . }}
{{ $scope := default nil }}

{{ if (reflect.IsMap . ) }}
  {{ $context = .context }}
  {{ $scope = cond (not .scope) nil .scope }}
{{ end }}

{{ with $context }}
  {{ $meta := newScratch }}

  {{/* Gather partials for this context */}}
  {{ if .Params.showDate | default (.Site.Params.resource.showDate | default true) }}
    {{ $meta.Add "partials" (slice (partial "meta/date.html" .Date)) }}
  {{ end }}

  {{ if and (.Params.showDateUpdated | default (.Site.Params.resource.showDateUpdated | default false)) (ne (partial "functions/date.html" .Date) (partial "functions/date.html" .Lastmod)) }}
    {{ $meta.Add "partials" (slice (partial "meta/date-updated.html" .Lastmod)) }}
  {{ end }}

  {{ if and (.Params.showWordCount | default (.Site.Params.resource.showWordCount | default false)) (ne .WordCount 0) }}
    {{ $meta.Add "partials" (slice (partial "meta/word-count.html" .)) }}
  {{ end }}

  {{ if and (eq $scope "single") (.Params.showEdit | default (.Site.Params.resource.showEdit | default false)) }}
    {{ $meta.Add "partials" (slice (partial "meta/edit.html" .)) }}
  {{ end }}

  {{/* Output taxonomies */}}
  {{ if or
    (and (ne $scope "single") (.Params.showTaxonomies | default (.Site.Params.list.showTaxonomies | default (.Site.Params.resource.showTaxonomies | default false))))
    (and (eq $scope "single") (.Params.showTaxonomies | default (.Site.Params.resource.showTaxonomies | default false)))
  }}
    <div class="my-6 flex flex-wrap text-xs leading-relaxed text-neutral-500">
      {{ range $taxonomy, $terms := .Site.Taxonomies }}
        {{ if (gt (len ($context.GetTerms $taxonomy)) 0) }}
          {{ range $context.GetTerms $taxonomy }}
            <a
              href="{{ .RelPermalink }}"
              class="my-1 mr-2 rounded-md border border-neutral-200 px-1 py-[1px] lowercase hover:border-primary-300 hover:text-primary-700"
              >{{ .LinkTitle }}</a
            >
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}


  <div class="ml-4">
    {{/* Output partials */}}
    {{ with ($meta.Get "partials") }}
      {{ delimit . "<span class=\"px-2 text-primary-500\">&middot;</span>" | safeHTML }}
    {{ end }}

    {{/* Output draft label */}}
    {{ if and (eq $scope "single") (and .Draft .Site.Params.resource.showDraftLabel) }}
      <span class="ps-2">{{ partial "badge.html" (i18n "resource.draft" | emojify) }}</span>
    {{ end }}
  </div>
{{ end }}
