apiVersion: batch/v1
kind: CronJob
metadata:
  name: docmost-backup
spec:
  schedule: "0 3 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: docmost-backup
        spec:
          containers:
          - name: postgres-backup
            image: quay.io/b-3-n/postgres-backup:latest # PATCHME
            command: ["postgres-backup.sh", "daily"]
            imagePullPolicy: Always
            env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: docmost-backup
                  key: DB_PASSWORD
            - name: SSH_REMOTE_DIR
              value: snapshot_psql
            envFrom:
            - configMapRef:
                name: docmost-backup
            securityContext:
              privileged: true
            volumeMounts:
            - name: ssh
              mountPath: /root/.ssh/id_ed25519
              subPath: id_ed25519
              readOnly: true
            - name: ssh 
              mountPath: /root/.ssh/known_hosts
              subPath: known_hosts
              readOnly: true
          - name: data-backup
            image: quay.io/b-3-n/file-backup:latest # PATCHME
            imagePullPolicy: Always
            command: ["file-backup.sh", "daily"]
            env:
            - name: SSH_REMOTE_DIR
              value: snapshot_data
            envFrom:
            - configMapRef:
                name: docmost-backup
            securityContext:
              privileged: true
            volumeMounts:
            - name: ssh
              mountPath: /root/.ssh/id_ed25519
              subPath: id_ed25519
              readOnly: true
            - name: ssh 
              mountPath: /root/.ssh/known_hosts
              subPath: known_hosts
              readOnly: true
            - name: docmost-data 
              mountPath: /data/docmost
              readOnly: true
          restartPolicy: OnFailure
          volumes:
          - name: ssh
            secret:
              secretName: docmost-backup
              defaultMode: 384
              items:
              - key: id_ed25519
                path: id_ed25519
              - key: SSH_KNOWN_HOSTS
                path: known_hosts
          - name: docmost-data
            persistentVolumeClaim:
              claimName: docmost-data-docmost-docmost-0
