---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: docmost

images:
- name: docmost/docmost
  newTag: 0.23.2
- name: redis
  newTag: 8.2-alpine
- name: postgres
  newTag: 17-alpine 
- name: quay.io/b-3-n/postgres-backup
  newTag: 17-alpine-0.2
- name: quay.io/b-3-n/file-backup
  newTag: 0.2-alpine


resources:
- ns.yaml
# Gateway, routes, tls
- certificate-docmost.yaml
- gateway.yaml
- httproute.yaml
# Dependencies (Postgres, redis)
- configmap-postgres.yaml
- deployment-redis.yaml
- service-postgres.yaml
- service-redis.yaml
- statefulset-postgres.yaml
# Docmost core
- configmap-docmost.yaml
- service-docmost.yaml
- statefulset-docmost.yaml
# Backups
- configmap-backup.yaml
- cronjob-backup.yaml
- cronjob-backup-weekly.yaml

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: docmost-ksops
    annotations:
      config.kubernetes.io/function: |
        exec:
          path: ksops
  files:
  - ./secret-postgres.enc.yaml
  - ./secret-docmost.enc.yaml
  - ./secret-backup.enc.yaml
