@import 'variables';

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html 
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

.footer {
  border-top: 1px solid;
  padding: 2em 2em;
  background: $black;
  color: $white;
  text-align: left;

  @include mobile {
    padding: 4vmin;
  }

  a {
    color: $white;
    
    &:hover {
      color: $red;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    @include filter(invert, 1);
    margin-right: 10px;
  }
}
