@import 'variables';

header {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  @include mobile {
    padding: 0.25em;
  }
}

.header {
  position: fixed;
  box-shadow: 2px 0 10px var(--token-shadow);
  width: 100%;
  background-color: var(--token-background);
  z-index: 9;
  padding: 1vmin 4vmin;

  @include mobile {
    padding-left: 1vmin;
  }

  display: flex;
  justify-content: space-between;

  .logo {
    margin-bottom: 0;
    
    .logo-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    figure {
      margin: 0;
      line-height: 0;
    }

    a {
      text-decoration: none;
    }

    svg {
      width: 58px;
      height: 58px;
      fill: var(--token-text);
    }
  }

  .supporting-links {
    font-size: 1.125em;
    float: right;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    margin-right: 1em;


    @include mobile {
      font-size: 1em;

      .btn {
        display: none;
      }
    }

    a {
      text-decoration: none;

      &:link, &:visited, &:active  {
        color: $black;
      }

      &:hover, &:focus {
        color: $red;
      }
    }

    li {
      text-transform: uppercase;
      font-weight: 600;
      margin: auto;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .work {
    font-weight: 100;
    margin-left: 1em;
    display: -webkit-inline-box;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: $red;

    @media screen and (max-width: 915px) {
      display: none;
    }

    .em {
      font-weight: 600;
      color: var(--token-text);
    }
  }
}

.dropdown__header strong {
  margin-left: 5px;
  margin-right: auto;
  font-size: 1.6rem;
}

.dropdown__categories li:hover {
  color: $red;
}

.dropdown__header .dropdown__categories,
.dropdown__header .dropdown__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown__header li {
  position: relative;
}

.dropdown__menu li {
  background: var(--token-text);
  color: var(--token-background);
  border: 1px solid var(--token-background);

  &:hover {
    background: $red;
  }
}

.dropdown__header .dropdown__category .dropdown__menu {
  position: absolute;
  background: $white;
  width: 200px;
  top: 50px;
  right: 0;
  display: block;

  &.hide {
    display: none;
  }
}

#nav li {
  padding: 0;

  & a {
    display: block;
    color: var(--token-background);
    padding: 10px;
  }
}

.display-mode {
  padding: 0 !important;
  
  @include mobile {
    visibility: hidden;
    display: none;
  }

  button {
    background: none;
    border: 1px solid transparent;
    color: var(--token-text-subtle);
    line-height: 0;
    opacity: .5;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &:focus {
      opacity: 1;
    }

    &.active-display-mode:focus {
      border-color: transparent;
    }

    &.active-display-mode,
    &:hover {
      color: var(--token-text);
      opacity: 1;
      border: 1px solid var(--token-text-subtle);
      box-shadow: 0 0 2px 1px var(--token-shadow);
    }
  }
}