{{- partial "functions/warnings.html" .Site -}}
{{- partial "functions/init.html" . -}}
<!doctype html>
<html
  lang="{{- site.Language.LanguageCode | default "" -}}"
  dir="{{- site.Language.LanguageDirection | default "ltr" -}}"
  class="scroll-smooth"
  data-default-appearance="{{- .Site.Params.defaultAppearance | default "light" -}}"
  data-auto-appearance="{{- .Site.Params.autoSwitchAppearance | default "true" -}}"
>
  {{- partial "head.html" . -}}
  <body
    class="m-auto flex h-screen flex-col bg-neutral px-6 text-lg leading-7 text-neutral-900 dark:bg-neutral-800 dark:text-neutral sm:px-6 md:px-12 lg:px-16"
  >
    <div id="the-top" class="absolute flex self-center">
      <a
        class="-translate-y-8 rounded-b-lg bg-primary-200 px-3 py-1 text-sm focus:translate-y-0 dark:bg-neutral-600"
        href="#main-content"
        ><span class="pe-2 font-bold text-primary-600 dark:text-primary-400">&darr;</span
        >{{ i18n "nav.skip_to_main" }}</a
      >
    </div>
    {{ $header := print "header/" .Site.Params.header.layout ".html" }}
    {{ if templates.Exists $header }}
      {{ partial $header . }}
    {{ else }}
      {{ partial "header/basic.html" . }}
    {{ end }}
    <div class="relative flex grow flex-col">
      <main id="main-content" class="grow">
        {{ block "main" . }}{{ end }}
      </main>
      {{- partial "footer.html" . -}}
      {{ if .Site.Params.enableSearch | default false }}
        {{- partial "search.html" . -}}
      {{ end }}
    </div>
  </body>
</html>
