{{ define "main" }}
  <article class="mx-auto max-w-5xl">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="prose mt-6 max-w-full">
      <div class="lead max-w-4xl">
        {{ .Page.Params.description }}
      </div>
      {{ .Content | emojify }}
    </section>
  </article>
{{ end }}
