<form method="post" action="https://listmonk.techwerkers.nl/subscription/form" class="listmonk-form">
  <div>
    <input type="hidden" name="nonce" />
    <label for="name" class="text-gray-900 mb-2 block font-bold">Email </label>
    <p><input type="email" name="email" required placeholder="Your email" class="border-gray-300 bg-gray-50 text-gray-900 focus:border-blue-500 focus:ring-blue-500 block w-full rounded-lg border p-2.5" /></p>

    <!-- English list -->
    <p>
      <input id="bf05e" type="hidden" name="l" checked value="bf05e137-552e-4853-8089-e9eaf04e0285" />
    </p>

    <button class="rounded-md bg-primary-600 px-4 py-2 text-neutral no-underline hover:rounded-md hover:bg-primary-500">
      <input type="submit" value="Subscribe →" />
    </button>
  </div>
</form>


