<section>
    <div class="px-4 sm:px-0">
      <!-- <h3 class="text-base/7 font-semibold text-gray-900">Applicant Information</h3> -->
      <h2 class="my-8 text-2xl font-extrabold">{{ i18n "events-upcoming" }}</h2>
    </div>
    
        {{ $events := .Site.GetPage "section" "events" }}

        <!-- Upcoming events -->
        {{ $future_events := where $events.Pages ".Params.event_date" "ge" (now.Format "2006-01-02") }}

        {{ range sort $future_events ".Params.event_date" "asc" }}
        <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-xl font-medium text-gray-900">
            {{ if ne .Params.event_date nil }}
                <div>{{ dateFormat "Mon 2 Jan" .Params.event_date }}</div>
            {{ end }}

          </dt>
          <dd class="mt-1 sm:text-medium text-xl font-bold text-gray-700 sm:col-span-2 sm:mt-0">
            <div class="flex-2 flex max-w-prose flex-row">
                <a class="hover:text-primary-500 decoration-primary-500 hover:underline hover:underline-offset-2" href="{{ .Permalink }}">{{ .Params.title }}</a>
            </div>
          </dd>
        </div>
      </dl>
      {{ end }}
    </div>
</section>
      

<section>
    <div class="px-4 sm:px-0">
      <h2 class="my-8 text-2xl font-extrabold">{{ i18n "events-previous" }}</h2>
    </div>
    
        {{ $events := .Site.GetPage "section" "events" }}

        <!-- Past events -->
        {{ $past_events := where $events.Pages ".Params.event_date" "le" (now.Format "2006-01-02") }}

        {{ range sort $past_events ".Params.event_date" "desc" }}
        <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-xl font-medium text-gray-900">
            {{ if ne .Params.event_date nil }}
                <div>{{ dateFormat "Mon 2 Jan" .Params.event_date }}</div>
            {{ end }}

          </dt>
          <dd class="mt-1 sm:text-medium text-xl font-bold text-gray-700 sm:col-span-2 sm:mt-0">
            <div class="flex-2 flex max-w-prose flex-row">
                <a class="hover:text-primary-500 decoration-primary-500 hover:underline hover:underline-offset-2" href="{{ .Permalink }}">{{ .Params.title }}</a>
            </div>
          </dd>
        </div>
      </dl>
      {{ end }}
    </div>
</section>
    