<div class="bg-white pb-4 sm:pb-6 mx-auto max-w-7xl">
    <div class="px-4 sm:px-0 mb-8 sm:mb-10 mb-10">
      <div class="mx-auto max-w-2xl lg:mx-0 mb-8 sm:mb-10">
      <h2 class="mt-16 mb-8 text-4xl font-extrabold">{{ i18n "events-upcoming" }}</h2>
      <p class="mt-2 text-lg/8 text-gray-600">{{ i18n "events-description" }}</p>
    </div>
    
        {{ $events := .Site.GetPage "section" "events" }}
        {{ $future_events := where $events.Pages ".Params.event_date" "ge" (now.Format "2006-01-02") }}

        {{ range first 5 (sort $future_events ".Params.event_date" "asc") }}
        <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-xl font-medium text-gray-900 lowercase">
            {{ if ne .Params.event_date nil }}
                <div>{{ dateFormat "Mon 2 Jan" .Params.event_date }}

                </div>
            {{ end }}

          </dt>
          <dd class="mt-1 sm:text-medium text-xl font-bold text-gray-700 sm:col-span-2 sm:mt-0">
            <div class="flex-2 flex max-w-prose flex-row">
                <a class="decoration-primary-500 hover:underline hover:underline-offset-2" href="{{ .Permalink }}">{{ .Params.title }}</a>
            </div>
          </dd>
        </div>
      </dl>
        </div>
      {{ end }}
    </div>
    <div class="mx-4 lg:mx-0">
    <a class="mt-6 hover:text-primary-600 decoration-primary-600 hover:underline hover:underline-offset-2 text-gray-500" href="{{ "events" | relLangURL }}">{{ i18n "show-all"}} {{ i18n "events"}} →</a>
  </div>
  </div>
  