<div class="mt-16 mb-20 grid grid-cols-2 md:grid-cols-4 gap-4 place-items-center">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}img/techwerkers-8.jpg" alt="A person is seated at desk behind a monitor showing code. Image by Mizuno Kozuki on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-11.jpg" alt="Two people wearing hard harts and bright orange-yellow clothing inspect a field of solar panels. Image by Cristian Rojas on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-13.jpg" alt="A person is seated at a small desk facing a wall in a hotel-style room, with a hot drink and snack at hand. Image by Mart Production on Pexels.">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-1.jpg" alt="A person gestures while facing a mobile phone in a standard, and being lit by a ring light. Image by Ivan Samkov on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-2.jpg" alt="Three people wearing hijabs standing and sitting in an office, laughing. Image by Cedric Fauntleroy on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-10.jpg" alt="Top-down view of three people inspecting a warehouse shelf loaded with boxes. Image by Tiger Lily on Pexels.">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-6.jpg" alt="A person wearing bright pink gloves cleans an office window. Image by Polina Tankilevitch on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-3.jpg" alt="Close-up of the hands of a person who's doing an electric engineering project. Image by Retha Ferguson on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-12.jpg" alt="Close-up of a person sitting behind a laptop in an office space, grinning. Image by Prolific People on Pexels.">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-4.jpg" alt="A person inspects the wiring of a machine. Image by This Is Engineering on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-5.jpg" alt="A person wearing black latex gloves presents a take-out box of food, over a table on which food is being prepared. Image by Mikhail Nilov on Pexels.">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ .Site.BaseURL }}/img/techwerkers-7.jpg" alt="Street-level view of a person who holds a bicycle in the one hand, and a large bike delivery bag in the other. Image by Mart Production on Pexels.">
        </div>
    </div>
</div>

