{{- if .Site.Params.header.logo_en }}
  {{- $logoPath := "" }}
  {{- $logoDarkPath := "" }}
  
  {{- if eq .Site.Language.Lang "en" }}
    {{- $logoPath = .Site.Params.header.logo_en }}
    {{- $logoDarkPath = .Site.Params.header.logoDark_en }}
  {{- else }}
    {{- $logoPath = .Site.Params.header.logo }}
    {{- $logoDarkPath = .Site.Params.header.logoDark }}
  {{- end }}

  {{- $logo := resources.Get $logoPath }}
  {{- $logo_dark := resources.Get $logoDarkPath }}

  {{- if $logo }}
    <a href="{{ "" | relLangURL }}" class="mr-2">
      <!-- prettier-ignore-attribute -->
      <img
        src="{{ $logo.RelPermalink }}"
        width="{{ div $logo.Width 2 }}"
        height="{{ div $logo.Height 2 }}"
        class="max-h-[10rem] max-w-[10rem] object-scale-down object-left
        {{ if $logo_dark }}hidden {{ end }}"
        alt="{{ .Site.Title }}"
      />
      {{- if $logo_dark }}
        <img
          src="{{ $logo_dark.RelPermalink }}"
          width="{{ div $logo_dark.Width 2 }}"
          height="{{ div $logo_dark.Height 2 }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left"
          alt="{{ .Site.Title }}"
        />
      {{- end }}
    </a>
  {{- end }}
{{- end }}

{{- if .Site.Params.header.showTitle | default true }}
  <a
    class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
    rel="me"
    href="{{ "" | relLangURL }}"
    >{{ .Site.Title | markdownify | emojify }}</a
  >
{{- end }}
