<div class="bg-white pb-20 sm:pb-24 mx-auto max-w-7xl ">
    <div class="mb-10">
      <div class="mx-auto max-w-2xl lg:mx-0 mb-8 sm:mb-10">
        <h2 class="mt-16 mb-8 text-4xl font-extrabold">{{ i18n "featured" }}</h2>
        <p class="mt-2 text-lg/8 text-gray-600">{{ i18n "resources-description" }}</p>
      </div>
{{ if .Site.Params.homepage.showRecent | default false }}
  <!-- <h2 class="mt-16 mb-8 text-4xl font-extrabold">{{ i18n "featured" | emojify }}</h2> -->
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-4 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  {{ $recentResource := first 3 (where .Site.RegularPages "Section" "resources") }}
  {{ range $recentResource }}
    {{ partial "resource-link.html" . }}
  {{ end }}
</div>
{{ end }}
</div>
<div class="mx-4 lg:mx-0">
  <a class="mt-6 hover:text-primary-600 decoration-primary-600 hover:underline hover:underline-offset-2 text-gray-500" href="{{ "resources" | relLangURL }}">{{ i18n "show-resources" }} →</a>

  </div>
</div>
