{{ define "main" }}
  <section class="mx-auto max-w-5xl">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    </header>
    <section class="prose mt-6 max-w-4xl dark:prose-invert">
      <div class="min-h-0 min-w-0 grow">
        {{ .Content | emojify }}
      </div>
    </section>
    <section class="mt-6">
      {{ partial "events-list.html" . }}
    </section>
  </section>
{{ end }}
