{{ define "main" }}
  {{- $images := .Resources.ByType "image" }}
  {{- $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
  {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $cover }}
  <article class="mx-auto max-w-5xl">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="prose mt-6 max-w-full">
      <div class="lead max-w-4xl">
        {{ .Page.Params.description }}
      </div>
      {{ with $feature }}
        <div class="prose">
          {{ $altText := $.Params.featureAlt | default $.Params.coverAlt | default "" }}
          {{ $class := "mb-6 rounded-md" }}
          {{ $webp := $.Page.Site.Params.enableImageWebp | default true }}
          {{ partial "picture.html" (dict "img" . "alt" $altText "class" $class "lazy" false "webp" $webp) }}
          {{ with $.Params.coverCaption }}
            <figcaption class="-mt-3 mb-6 text-center">{{ . | markdownify }}</figcaption>
          {{ end }}
        </div>
      {{ end }}
    </section>
    <section class="prose mt-12 max-w-full text-lg">
      {{ .Content | emojify }}
    </section>
  </article>
{{ end }}
