<!-- Main content -->
<section class="max-w-full">
  {{ with .Site.Title }}
    <header class="flex justify-center">
      <h1 class="text-center text-5xl font-bold mb-6 lg:mb-16 md:text-6xl lg:text-8xl hyphens-auto font-mono tracking-tight">{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <!-- <img src="/img/author.jpg" class="m-auto max-w-full"></img> -->

  <section class="prose max-w-full">
    <div class="lead text-center text-xl lg:text-2xl flex justify-center">
      <div class="max-w-3xl">
        {{ .Site.Params.Description | emojify }}
      </div>
    </div>
    <div class="mb-8 flex justify-center">{{ .Content | emojify }}</div>
  </section>
</section>

<section>
  {{ partial "gallery.html" . }}
</section>

<section class="not-prose">
  {{ partial "events-upcoming.html" . }}
</section>

<section class="not-prose">
  {{ partial "recent-resources.html" . }}
</section>
