---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nocodb

images:
- name: nocodb/nocodb
  newTag: 0.265.1
- name: redis
  newTag: 8.2-alpine
- name: postgres
  newTag: 17-alpine 
- name: quay.io/b-3-n/postgres-backup
  newTag: 17-alpine-0.2
- name: quay.io/b-3-n/file-backup
  newTag: 0.2-alpine

resources:
- ns.yaml
# Gateway, routes, tls
- certificate-nocodb.yaml
- gateway.yaml
- httproute.yaml
# Dependencies (Postgres, redis)
- configmap-postgres.yaml
- deployment-redis.yaml
- service-postgres.yaml
- service-redis.yaml
- statefulset-postgres.yaml
# Docmost core
- configmap-nocodb.yaml
- service-nocodb.yaml
- statefulset-nocodb.yaml
# Backups
- configmap-backup.yaml
- cronjob-backup.yaml
- cronjob-backup-weekly.yaml

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: nocodb-ksops
    annotations:
      config.kubernetes.io/function: |
        exec:
          path: ksops
  files:
  - ./secret-postgres.enc.yaml
  - ./secret-nocodb.enc.yaml
  - ./secret-backup.enc.yaml
